{% load static %}
<!-- header section start -->
<header>
    <div class="container">
      <div class="header-inner">
        <a href="{% url 'home' %}" class="logo" style="color: #f31a1a"
          ><img
            src="https://res.cloudinary.com/dslqlq4po/image/upload/v1688548918/NorseLogo_u4f8mp.png"
            width="80"
            alt="Logo"
          />DE NORSEMEN KCLUB INTERNATIONAL RC 7458</a
        >
        <div class="header-menu">
          <ul>
            
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="">Events</a></li>
          </ul>
        </div>
        <a href="{% url 'register' %}" class="header-btn"
          >Signup</a
        >
        <a
          href="{% url 'login' %}"
          class="header-btn"
          style="margin-left: 20px"
          >Login</a
        >
        <!-- mobile menu -->
        <div class="mobile-menu">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
            fdprocessedid="7fbgmc"
          >
            <img src="{% static 'assets/images/icons/menu-icon.svg' %}" alt="icon" />
          </button>
          <div
            class="offcanvas offcanvas-end mobile-menu-body"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <a
                href="{% url 'home' %}"
                class="logo"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
                ><img
                  src="https://res.cloudinary.com/dslqlq4po/image/upload/v1688548918/NorseLogo_u4f8mp.png"
                  width="60"
                  alt="logo"
              /></a>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <img src="{% static 'assets/images/icons/close.svg' %}" alt="icon" />
              </button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <ul class="mobile-menu-list">
                  
                  <li>
                    <a href="{% url 'home' %}">Home</a>
                  </li>
                  <li>
                    <a href="">Events</a>
                  </li>
                </ul>
                <a
                  href="{% url 'register' %}"
                  class="header-btn mobile"
                  >Signup</a
                >

                <a
                  href="{% url 'login' %}"
                  class="header-btn mobile"
                  style="margin-top: 20px"
                  >Login</a
                >
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header section end -->
